<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p routerLink="/" style="cursor: pointer" class="font-weight-bold"><i class="fa fa-arrow-left"></i> Back to homepage</p>
        <h1>Overview</h1>
        <p>With the latest UNO Game by Mattel, you get 4 Blank Cards so you can assign your own rules.
          Why ruin the blank cards with one specified outcome when you can have many outcomes chosen out of random?</p>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <h1 class="mb-3">How to Use</h1>
      </div>
      <div class="col-md-3">
        <h4>Step 1</h4>
        <p>Start Playing UNO. Make sure you have Blank Cards there. Mark special cards if you don't have Blank Cards</p>
      </div>
      <div class="col-md-3">
        <h4>Step 2</h4>
        <p>Keep UNO Randomizer open in one of your devices (Laptop Computer/Mobile Phone).</p>
      </div>
      <div class="col-md-3">
        <h4>Step 3</h4>
        <p>If a player plays a Blank Card. Press 'Start' button on homepage to find out what his/her card mean.
          Randomizer will choose what the player's card represent.</p>
      </div>
      <div class="col-md-3">
        <h4>Step 4</h4>
        <p>Add your own rules to the game with the 'Add New Outcome' page. Enjoy!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>Rules</h1>
        <p>For every Blank Card the player plays, he/she can change the color being played to any color (Just like a Wild Card).</p>
      </div>
    </div>
  </div>
</section>
