<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>About</h1>
        <p>With the latest UNO Game by Mattel, you get 4 Blank Cards so you can assign your own rules.
          Why ruin the blank cards with one specified outcome when you can have many outcomes chosen out of random?
          This is a web application to randomize an outcome for your UNO blank cards. There are default outcomes pre-loaded with the app. You can add your own outcome too. Have fun! Don't forget to
          share this with your friends.</p>
        <p class="mb-0">Author - Thisaru Mahadurage</p>
        <a href="https://www.linkedin.com/in/thisaru-mahadurage/" class="social" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/thisaru.mahadurage/" class="social" target="_blank"><i class="fa fa-instagram"></i></a>

        <p routerLink="/" style="cursor: pointer" class="font-weight-bold mt-3"><i class="fa fa-arrow-left"></i> Back to homepage</p>
      </div>
      <div class="col-md-6">
        <h1>Credits</h1>
        <a href="https://github.com/valor-software/ngx-bootstrap/">ngx-bootstrap</a>
      </div>
    </div>
  </div>
</section>
