<div class="modal-header">
  <h4 class="modal-title pull-left">
    <img src="assets/img/wild-logo.svg" alt="Wild Logo" class="wild-logo">
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <i class="fa fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="wild-card-body">
    <h2>{{ outcome.title }}</h2>
    <p>{{ outcome.description}}</p>
  </div>
</div>
<div class="modal-footer">
  <h4 class="modal-title pull-right">
    <img src="assets/img/wild-logo.svg" alt="Wild Logo" class="wild-logo">
  </h4>
</div>
