<section class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/img/uno-randomizer-logo.png"
             alt="UNO Logo"
             (click)="refrsh()"
             class="logo animate__animated animate__jackInTheBox">
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 m-auto text-center">
        <h5>UNO Randomizer v{{ version }}</h5>
        <p>Revolutionize your UNO Blank Cards with UNO Randomizer. <br class="d-none d-md-block">
          We chose the outcome for your Blank Cards. <br class="d-none d-md-block">
          When a player gets a Blank Wild Card Press ‘START’
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-start" (click)="openStartModal()">
          <p>Start</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="openOutcomeDialog()"><i class="fa fa-plus mr-1"></i> Add New Outcome</button>
      </div>
    </div>

    <div class="row software-links mt-4">
      <div class="col-12 text-center">
        <p routerLink="/about">About</p>
        <p routerLink="/usage">How to Use</p>
        <p routerLink="/outcomes">List of Outcomes</p>
        <p><a class="text-white"
              data-name="ask"
              data-domain="thisaru"
              data-tld="com?subject=Feedback UNO Randomizer"
              onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">Feedback</a></p>
      </div>
    </div>



  </div>
</section>
