<section class="py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/img/uno-randomizer-logo.png" alt="UNO Logo" class="logo">
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 m-auto text-center">
        <h1>Welcome to UNO Randomizer</h1>
        <p>Revolutionize your UNO Blank Cards with UNO Randomizer.
          We chose the outcome for your Blank Cards.
          When a player gets a Blank Wild Card Press ‘START’
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <div class="btn-start" (click)="openStartModal()">
          <p>Start</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary" (click)="openOutcomeDialog()"><i class="fa fa-plus mr-1"></i> Add New Outcome</button>
      </div>
    </div>

    <div class="row software-links mt-4">
      <div class="col-12 text-center">
        <p routerLink="/about">About</p>
        <p routerLink="/usage">How to Use</p>
        <p routerLink="/outcomes">List of Outcomes</p>
      </div>
    </div>



  </div>
</section>
